body {
    font-family: Arial, sans-serif;
    background-image: url("fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.container {
    background: white;
    width: 450px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
    color: #333;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #ff724f;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #bb3737;
}

.resultado {
    margin-top: 20px;
    text-align: left;
}

.pieza {
    background: #eee;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}
